html {
  font-family: 'Roboto Slab', serif;
  background-color: #212121;
}

body {
  max-width: 600px;
  margin: 0 auto; /* makes to center! */
  padding: 0 20px 20px;
}

h1, p, li, a, footer {
  color: #FAFAFA;
}

p, li, a {
  line-height: 2;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
  margin: 0;
  padding: 30px 0;
}

img {
  display: block;
  margin: 0 auto;
  padding: 20px;
  width: 200px;
}

footer {
  font-size: 8px;
}

button {
  background-color: transparent; 
  color: #FAFAFA;
  border: 2px solid #FAFAFA;
  padding: 8px 16px;
  margin: 2px 10px;
  border-radius: 2px;
  transition-duration: 400ms; /* determines the speed of the hover effect */
}

button:hover {
  background-color: #FAFAFA;
  color: #212121;
}
